body{
    background-color: white
}

span{
    color: aqua
}

.p1{
    color: rgb(255, 0, 0)
}

.p2{
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 2px 2px green;
    font-style: oblique;
}